body {
    background-color: #306bac;
    color: black ;
    font-family: 'PT Sans', sans-serif;
}

img{
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.botao{
    padding: 15px 30px;
    border-radius: 20;
}
